<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
  <div id="loading"></div>  
  <body style="background-color:#ded3c5;">
  <script>
    $.get("/assets/html/loader.html", function(data){
  $("#loading").replaceWith(data);
});
    $(window).on('load', function(){
  setTimeout(removeLoader, 2000); //wait for page load PLUS two seconds.
});
function removeLoader(){
    $( ".loader-wrapper" ).fadeOut(500, function() {
      // fadeOut complete. Remove the loading div
      $( ".loader-wrapper" ).remove(); //makes page more lightweight 
  });   
}

  </script>
   <script>
   if (typeof navigator.serviceWorker !== 'undefined') {
     navigator.serviceWorker.register('sw.js')
   }
   </script>

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
