<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  <body onload="myFunction()" style="background-color:#ded3c5;">
    
    
<div id="loader"></div>
<p id="loadertext">Our site down? Contact us!</p>
<img src="https://scriptorite.github.io/SLoad.png" alt="Banner" id="loaderimg" style="max-height: 250px; max-width: 150px; align: centre;">
<div style="display:none;" id="myDiv" class="animate-bottom">
   <script>
  const registerServiceWorker = async () => {
  if ("serviceWorker" in navigator) {
    try {
      const registration = await navigator.serviceWorker.register("/sw.js", {
        scope: "/",
      });
      if (registration.installing) {
        console.log("Service worker installing");
      } else if (registration.waiting) {
        console.log("Service worker installed");
      } else if (registration.active) {
        console.log("Service worker active");
      }
    } catch (error) {
      console.error(`Registration failed with ${error}`);
    }
  }
};
     registerServiceWorker();
   </script>

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
    <script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 1000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("loadertext").style.display = "none";
  document.getElementById("loaderimg").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>
<div id="modal" style="display:none;">
  <div class="modal-content">
    <h5>Important Notice</h5>
    <p>You are accessing the site from variant website address. Please note that the PWA is only available on <a href="https://scriptorite.github.io">scriptorite.github.io</a>.</p>
    <button id="close-modal">Close</button>
  </div>
</div>
  <script>

const currentUrl = window.location.href;
if (!currentUrl.includes("github.io")) {
    document.getElementById("modal").classList.add("show");
    document.getElementById("modal").style.display = "block";
    sessionStorage.setItem("modalShown", "true");
  }
}

document.getElementById("close-modal").addEventListener("click", function() {
  document.getElementById("modal").style.display = "none";
});

  </script>
  </body>
</html>
