<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  <body onload="myFunction()" style="background-color:#695b7d;">
  <style>
    html{
      colour: #c8b6f0;
    }
  </style>  
    
<div id="loader"></div>
<p id="loadertext">Our site down? Contact us!</p>
<img src="https://scriptorite.github.io/SMLanding1.png" alt="Banner" id="loaderimg">
<div style="display:none;" id="myDiv" class="animate-bottom">
   <script>
   if (typeof navigator.serviceWorker !== 'undefined') {
     navigator.serviceWorker.register('sw.js')
   }
   </script>

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
    <script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 1000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("loadertext").style.display = "none";
  document.getElementById("loaderimg").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>

  </body>
</html>
