<!DOCTYPE html>
<html lang="en">

  {% include georitehead.html %}

  <body onload="myFunction()" style="background-color:#989de3;" id="georitetext">
  <style>
    #geotext {
      color: #c8b6f0 !important;
    }
  </style>  
    
<div id="loader"></div>
<p id="loadertext">Our site down? Contact us!</p>
<img src="https://scriptorite.github.io/SMLanding1.png" alt="Banner" id="loaderimg">
<div style="display:none;" id="myDiv" class="animate-bottom">
   <script>
   if (typeof navigator.serviceWorker !== 'undefined') {
     navigator.serviceWorker.register('sw.js')
   }
   </script>

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}
    <script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 1000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("loadertext").style.display = "none";
  document.getElementById("loaderimg").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>

  </body>
</html>
