---
layout: default
---

<centre><img src="https://scripta-mirabilia.github.io/SMBannerV4.png" alt=SMBanner"></centre>
<!--<p style="text-align:center;"><img src="https://scripta-mirabilia.github.io/SMBannerV4.png" alt="SMBanner"></p> -->
<p>Welcome to 1D10T1C-STUD10S&#39;s small project! A site about anything interesting. Simple and for anyone who desires to share anything.</p>
<p>Enjoy the random content!</p>
<p>Back to our homepage? 
Go <a href="https://1d10t1c-stud10s.github.io">here!</a></p>
<hr>
<h2 id="features">Features</h2>
<p>View the full feature set <a href="https://scripta-mirabilla.github.io/landing/">here!</a></p>
<p>Find posts related to a certain topic bundled into one giant <strong>BEAUTIFUL KNOWLEDGE BANK</strong> with <a href="https://scripta-mirabilia.github.io/series/">post series!</a></p>
<br>
<p>Participate in discussions or create your own in our <a href="https://scripta-mirabilia.github.io/forums/">forums!</a></p>
<hr>

<div class="catalogue">
  {% for post in site.posts %}
    {% if post.sticky %}
      {% include catalogue_item.html sticky='true' %}
    {% endif %}
  {% endfor %}

  {% for post in paginator.posts %}
    {% include catalogue_item.html %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
